.Input{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 4px;
}

.InValid{
    border-color: red;
    background-color: rgb(238, 182, 161);
}